.header {
    background-color: var(--bg-component);
    border-bottom: 2px solid var(--border-color);
    font-weight: bold;
    color: var(--primary-hover);
    padding: 0 1.5rem;
}

.header-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-container div {
    display: flex;
    gap: 20px;
}

/* Estilização da navegação (links do menu) */


.header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.header nav a {
    text-decoration: none;
    color: inherit;
    font-size: 0.95rem;
    transition: opacity 0.2s;
}

.header nav a:hover {
    opacity: 0.8;
}

/* Classe ativada automaticamente pelo routerLinkActive */
nav ul li a.active {
    text-decoration: underline;
}